{{define "title"}}Login | WEVMS content repository manager{{end}}

{{define "head"}}{{end}}

{{define "body"}}
    <div class="ui container" style="max-width: 800px;margin: 200px auto 0 auto;">
        <div class="ui header" style="text-align: center">
            Welcome to WECMS Content repository manager!
        </div>
        <form action="" method="post" class="ui form" style="margin: 0 auto; max-width: 400px;">
            <div class="ui ignored info message">Please type in your username and password:</div>
            <div class="field">
                <label>Username:</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{{end}}

{{define "script"}}{{end}}

{{template "shared/__viewStart.html" .}}